<div fxLayout="column" *ngIf="codeData" fxLayoutGap="5px">
  <div fxLayout="row" fxLayoutGap="10px" class="code-main-data">
    <mat-form-field fxFlex="140px" [class]="uniqueNumberValidator(codeData.id) ? '' : 'not-unique-id'">
      <input matInput
             [placeholder]="'code.id' | translate"
             [(ngModel)]="codeData.id"
             (ngModelChange)="setCodeDataChanged()"
             type="number">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput
             [placeholder]="'code.description' | translate"
             [(ngModel)]="codeData.label"
             (ngModelChange)="setCodeDataChanged()">
    </mat-form-field>
    <mat-form-field fxFlex="140px">
      <input matInput
             type="number"
             required
             [placeholder]="'code.score' | translate"
             [(ngModel)]="codeData.score"
             (ngModelChange)="setCodeDataChanged()">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-card fxFlex>
      <mat-card-subtitle>{{'code.prompt-auto-coding' | translate}}</mat-card-subtitle>
      <mat-card-content fxLayout="column">
        <div *ngFor="let rule of codeData.rules" fxLayout="row wrap" fxLayoutAlign="space-between center"
             (mouseover)="showCodeButtonsOf=rule.method" (mouseout)="showCodeButtonsOf=''">
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px" fxFlex>
            <div [matTooltip]="('rule.' + rule.method + '.description') | translate" fxFlex="120px"
                 matTooltipShowDelay="500">
              {{('rule.' + rule.method) | translate}}</div>
            <mat-form-field *ngIf="getParamCountWrapper(rule.method) < 0" fxFlex>
              <textarea matInput
                        [(ngModel)]="rule.parameters[0]"
                        (ngModelChange)="setCodeDataChanged()"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="8"></textarea>
            </mat-form-field>
            <mat-form-field fxFlex="80px" *ngIf="getParamCountWrapper(rule.method) > 0">
              <input matInput
                     [(ngModel)]="rule.parameters[0]"
                     (ngModelChange)="setCodeDataChanged()">
            </mat-form-field>
            <mat-form-field fxFlex="80px" *ngIf="getParamCountWrapper(rule.method) > 1">
              <input matInput
                     [(ngModel)]="rule.parameters[1]"
                     (ngModelChange)="setCodeDataChanged()">
            </mat-form-field>
          </div>
          <div fxFlex="30px">
            <button mat-flat-button [matTooltip]="'rule.prompt.delete' | translate" (click)="deleteRule(rule.method)"
                    [class]="showCodeButtonsOf === rule.method ? 'buttonDisplay' : 'buttonHide'">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <button mat-flat-button [matMenuTriggerFor]="menu" *ngIf="getNewRules().length > 0"
                  [matTooltip]="'rule.prompt.add' | translate">
            <mat-icon>add</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let newSource of getNewRules()" (click)="addRule(newSource)">
              {{('rule.' + newSource) | translate}}
            </button>
          </mat-menu>
          <div *ngIf="codeData.rules.length === 0" [matMenuTriggerFor]="menu"
               class="no-rules">{{'rule.no-rules' | translate}}</div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between stretch">
        {{'manual-instruction.prompt-code' | translate}}
        <button mat-flat-button (click)="editTextDialog_manualInstruction()">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-content class="instructions">
        <div [innerHTML]="codeData ? getSanitizedText(codeData.manualInstruction) : null"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
