<div class="scheme-body" fxLayout="row" fxLayoutAlign="space-between stretch">
  <p *ngIf="mainDataService.varList.length === 0" style="margin: 20px;">Keine Basis-Variablen definiert.</p>
  <div class="navi-bar" fxLayout="column" fxFlex="200px" *ngIf="mainDataService.varList.length > 0">
    <div fxFlex class="var-scheme-list">
      <div class="basic-var-list-header">Basisvariablen</div>
      <mat-nav-list *ngFor="let varBasic of mainDataService.filteredCodingSchemes(mainDataService.codingSchemes, true)">
        <a mat-list-item style="height: 22px;text-overflow: ellipsis"
           class="var-list-entry"
           [matTooltip]="varBasic.id"
           [class]="varBasic.id === (mainDataService.selectedScheme$ | async)?.id ? 'selected' : 'not-selected'"
           (click)="selectVarScheme(varBasic)">
          {{ varBasic.id }}
        </a>
      </mat-nav-list>
      <div class="var-scheme-list-header">Abgeleitete Variablen</div>
      <p *ngIf="mainDataService.codingSchemes.length === 0" style="margin: 4px;">Keine abgeleiteten Variablen definiert.</p>
      <mat-nav-list *ngFor="let varScheme of mainDataService.filteredCodingSchemes(mainDataService.codingSchemes, false)">
        <a mat-list-item style="height: 22px;text-overflow: ellipsis"
           class="var-list-entry"
           [matTooltip]="varScheme.id"
           (click)="selectVarScheme(varScheme)"
           [class]="varScheme.id === (mainDataService.selectedScheme$ | async)?.id ? 'selected' : 'not-selected'">
          {{ varScheme.id }}
        </a>
      </mat-nav-list>
    </div>
    <!-- # # # # # # # # # # # # # # # # # # # # # # # # -->
    <div fxLayout="row">
      <button mat-raised-button (click)="addVarScheme()" matTooltip="Variable hinzufügen" matTooltipPosition="above" fxFlex="33">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button (click)="deleteVarScheme()" matTooltip="Variable(n) löschen" matTooltipPosition="above" fxFlex="33">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu" disabled="disabled" matTooltip="Weitere Funktionen..." matTooltipPosition="above" fxFlex>
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>settings</mat-icon>Einstellungen
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>content_copy</mat-icon>Kopieren
        </button>
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>swap_horiz</mat-icon>Verschieben
        </button>
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>input</mat-icon>Import
        </button>
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>get_app</mat-icon>Export
        </button>
      </mat-menu>
    </div>
  </div>
  <var-scheme [varScheme]="mainDataService.selectedScheme$ | async" fxFlex class="var-scheme-container">

  </var-scheme>
</div>
