<div class="scheme-body" fxLayout="row" fxLayoutAlign="space-between stretch">
  <p *ngIf="!mainDataService.invalidDataFormat && mainDataService.varList.length === 0" style="margin: 20px;">{{'data-error.base-variables-missing' | translate}}</p>
  <div class="navi-bar" fxLayout="column" fxFlex="200px" *ngIf="mainDataService.varList.length > 0">
    <div fxFlex class="var-scheme-list">
      <div class="basic-var-list-header">Basisvariablen</div>
      <mat-nav-list *ngFor="let varBasic of mainDataService.filteredCodings(mainDataService.codings, true)" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div [class]="'var-marker-' + varBasic.status" [matTooltip]="('coding-status.base-' + varBasic.status) | translate"></div>
          <a mat-list-item style="height: 22px;text-overflow: ellipsis"
             class="var-list-entry"
             fxFlex
             [class]="varBasic.id === (mainDataService.selectedCoding$ | async)?.id ? 'selected' : 'not-selected'"
             (click)="selectVarScheme(varBasic)">
            {{ varBasic.id }}
          </a>
        </div>
      </mat-nav-list>
      <div class="var-scheme-list-header">Abgeleitete Variablen</div>
      <mat-nav-list *ngFor="let varScheme of mainDataService.filteredCodings(mainDataService.codings, false)" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div [class]="'var-marker-' + varScheme.status" [matTooltip]="('coding-status.derived-' + varScheme.status) | translate"></div>
          <a mat-list-item style="height: 22px;text-overflow: ellipsis"
             class="var-list-entry"
             fxFlex
             (click)="selectVarScheme(varScheme)"
             [class]="varScheme.id === (mainDataService.selectedCoding$ | async)?.id ? 'selected' : 'not-selected'">
            {{ varScheme.id }}
          </a>
        </div>
      </mat-nav-list>
    </div>
    <!-- # # # # # # # # # # # # # # # # # # # # # # # # -->
    <div fxLayout="row">
      <button mat-raised-button (click)="addVarScheme()" matTooltip="Variable hinzufügen" matTooltipPosition="above" fxFlex="33">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button [disabled]="(mainDataService.selectedCoding$ | async) === null" (click)="deleteVarScheme()" matTooltip="Variable(n) löschen" matTooltipPosition="above" fxFlex="33">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu" disabled="disabled" matTooltip="Weitere Funktionen..." matTooltipPosition="above" fxFlex>
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>settings</mat-icon>Einstellungen
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>content_copy</mat-icon>Kopieren
        </button>
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>swap_horiz</mat-icon>Verschieben
        </button>
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>input</mat-icon>Import
        </button>
        <button mat-menu-item (click)="addVarScheme()">
          <mat-icon>get_app</mat-icon>Export
        </button>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="mainDataService.invalidDataFormat" class="invalid-data-format" fxFlex>
    <p>{{ 'data-error.invalid-format' | translate}}: {{mainDataService.invalidDataFormat}}</p>
    <button mat-raised-button (click)="resetScheme()">Alle Daten des Kodierschemas löschen</button>
  </div>

  <var-scheme [codingScheme]="mainDataService.selectedCoding$ | async" fxFlex class="var-scheme-container"
              *ngIf="!mainDataService.invalidDataFormat"
              [allVariables]="mainDataService.allCodingIds()"
              (codingSchemeChanged)="mainDataService.updateCodingsStatus(); mainDataService.setCodingSchemesChanged()">
  </var-scheme>
</div>
